video{
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}
.list-group img{
    float: right;
    text-decoration: ;
}
.list-group  img,
.list-group  span{
    cursor: pointer;
    opacity: 0.8;
}
.list-group  img,
.list-group  span:hover{
    cursor: pointer;
    opacity: 1;
    color: rgb(16, 12, 241);
}
body > div > ul > li.s{
    background-color: brown;
}
.container{
    max-width: 900px !important;
}